@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
#header {
  width: 100%;
  height: 106px;
  background-color: #ffffff;
}

#header .logo {
  width: 204px;
  height: 64px;
  float: left;
  margin: 21px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../ima/AdyLogo_.png);
}

#header nav {
  height: 40px;
  width: auto;
  float: right;
  margin: 34px 0;
  font-size: .8em;
  text-transform: uppercase;
}

#header nav div {
  display: inline-block;
  height: 40px;
  width: 240px;
  margin-left: 10px;
  line-height: 40px;
  text-align: center;
}

#header nav div:last-of-type {
  border-radius: 50px;
  color: #434343;
  border: 2px solid #50C8C7;
}

.bg-banner {
  background: url(../ima/bg.jpg) no-repeat;
  background-size: cover;
}

.banner-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.banner-iphone {
  max-width: 352px;
  margin-right: auto;
}

.comofunciona {
  background-color: #ffffff;
  padding: 80px;
}

.comofunciona-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comofunciona-item {
  max-width: 320px;
  margin-top: 20px;
  text-align: center;
  padding: 40px 30px;
  border: 1px solid #dfe5f5;
  border-radius: 15px;
  margin: 20px 10px;
}

.comofunciona-icon {
  color: #5FD7B0;
  font-size: 64px;
  max-width: 352px;
  margin-right: auto;
  margin-bottom: 30px;
}

.comofunciona h2 {
  font-size: 40px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
}

.comofunciona h3 {
  display: block;
  color: #7854F8;
  font-size: 20px;
  font-weight: 600;
  margin: 0 auto 10px;
}

.comofunciona div {
  display: block;
  color: #434343;
  font-size: 14px;
  margin: 0 auto;
}

#footer {
  width: 100%;
  height: 106px;
  background-color: darkkhaki;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?7xo1qo");
  src: url("../fonts/icomoon.eot?7xo1qo#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?7xo1qo") format("truetype"), url("../fonts/icomoon.woff?7xo1qo") format("woff"), url("../fonts/icomoon.svg?7xo1qo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e86c";
}

.icon-bills:before {
  content: "\e900";
}

.icon-chat:before {
  content: "\e901";
}

.icon-request:before {
  content: "\e902";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: inherit;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
