// _header.scss
.bg-banner{
   background: url(../ima/bg.jpg) no-repeat;
   background-size: cover;
}

.banner{
   &-content{
      display: flex;
   }

   &-iphone{
      max-width: 352px;
      margin-right: auto;
   }

   &-text{

   }

}
