// _comofunciona.scss
.comofunciona {
    background-color: #ffffff;
    padding: 80px;
    &-content {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        justify-content: center;
    }
    &-item {
        max-width: 320px;
        margin-top: 20px;
        text-align: center;
        padding: 40px 30px;
        border: 1px solid #dfe5f5;
        border-radius: 15px;
        margin: 20px 10px;
    }
    &-icon {
        color: #5FD7B0;
        font-size: 64px;
        max-width: 352px;
        margin-right: auto;
        margin-bottom: 30px;
    }
    h2 {
        font-size: 40px;
        text-align: center;
        font-weight: 400;
        margin-bottom: 20px;
    }
    h3 {
        display: block;
        color: #7854F8;
        font-size: 20px;
        font-weight: 600;
        margin: 0 auto 10px;
    }
    div {
        display: block;
        color: $texprimario;
        font-size: 14px;
        margin: 0 auto;
    }
}
