@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7xo1qo');
  src:  url('../fonts/icomoon.eot?7xo1qo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7xo1qo') format('truetype'),
    url('../fonts/icomoon.woff?7xo1qo') format('woff'),
    url('../fonts/icomoon.svg?7xo1qo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e86c";
}
.icon-bills:before {
  content: "\e900";
}
.icon-chat:before {
  content: "\e901";
}
.icon-request:before {
  content: "\e902";
}

