// _header.scss
#header {
    width: 100%;
    height: 106px;
    background-color: $white;
    .logo {
        width: 204px;
        height: 64px;
        float: left;
        margin: 21px 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        //        background-color: aquamarine;
        background-image: url(../ima/AdyLogo_.png);
    }
    nav {
        height: 40px;
        width: auto;
        float: right;
        margin: 34px 0;
        font-size: .8em;
        text-transform: uppercase;
        div {
            display: inline-block;
            height: 40px;
            width: 240px;
            margin-left: 10px;
            line-height: 40px;
            text-align: center;
            &:last-of-type {
                border-radius: 50px;
                color: $texprimario;
                border: 2px solid #50C8C7;
            }
        }
    }
}
