// style.scss
@import 'color-tipo';
@import 'header';
@import 'banner';
@import 'comofunciona';
@import 'footer';
@import 'fonts';
//Tipografia
//Muli
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
$font-stack: 'Open Sans',
sans-serif;
//CSS General
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: $font-stack;
}

figure{
   margin: 0;
   padding: 0;
}

img{
   max-width: 100%;
   display: inherit;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}
